page-login {
    .button-segment {
        border-radius: 0px !important;
        font-size: 15px !important;
    }

    .buttons-custom {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .button-custom {
        border-radius: 0px;
    }

    .item-input {
        border-bottom: lightgray solid 1px !important;
    }
}
