<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>

<ion-content>
  <!--
  <ion-item class="item-title" no-lines>
    <h2> {{productDetail.name}} </h2>
    <p> ₹ {{productDetail.price}} </p>
  </ion-item>
  -->
  <!-- <ion-item class="item-slides" no-lines> -->
  <!-- </ion-item> -->
  <div class="product-title">
    <p class="product-name"> {{productDetail.name}} </p>
    <p class="product-price"> ₹ {{productDetail.price}} </p>
  </div>

  <ion-slides pager>
    <ion-slide *ngFor="let imageURL of imageURLs">
      <img src={{imageURL}}>
      <!-- <img src='assets/imgs/DetailSample.png'> -->
    </ion-slide>  
  </ion-slides>

  <button class="button-close" color="theme" clear large round icon-only ion-button (click)="closeTapped()">
    <ion-icon name="close"></ion-icon>
  </button>
  <button class="button-info" color="theme" clear round icon-only ion-button (click)="infoTapped()">
    <ion-icon class="icon-info" name="icon-app-information"></ion-icon>
  </button>
  <button class="button-buy" color="theme" clear round icon-only ion-button (click)="addToCart()">
    <ion-icon class="icon-buy" name="icon-app-cart"></ion-icon>
  </button>
</ion-content>

<div class="my-overlay" [hidden]="overlayHidden">
  <ion-content class="product-chart">
    <!-- Product -->
    <ion-card>
      <ion-item class="item-cart-product">
        <ion-thumbnail item-start>
          <img class="image-cart-product" src={{iconURL}}>
        </ion-thumbnail>
        <h2> {{ productDetail.name }}</h2>
        <p> Price: ₹ {{ productPrice }}</p>
      </ion-item>
    </ion-card>

    <!-- Options -->
    <ion-card *ngFor="let name of optionNames; let mainIndex = index">
      <ion-card-header>
        {{name}}
      </ion-card-header>   
      <ion-card-content>

        <ion-col color="theme" clear ion-button col-4 class="button-option" 
        *ngFor="let option of optionDetails[mainIndex]; let subIndex = index" 
        [ngClass]="{'option-selected':option.selected}" 
        (click)="optionTapped(mainIndex, subIndex)">
          <span class="span-option"> {{ option.name }} </span>
        </ion-col>

        <!--
        <ion-buttons>
          <button class="button-option" color="theme" ion-button *ngFor="let option of optionDetails[mainIndex]; let subIndex = index" 
          [outline]="!option.selected"
          (click)="optionTapped(mainIndex, subIndex)">{{option.name}}</button> 
        </ion-buttons>
        -->
      </ion-card-content>
    </ion-card>
    
    <!-- Quantity -->
    <ion-card>
      <ion-card-header>
        Quantity
      </ion-card-header>   
      <ion-card-content>
        <button ion-button small round icon-only color="theme" class="button-round" (click)="decreaseTapped()" [disabled]="isDecreaseDisabled"> 
          <ion-icon class="icon-custom" name="remove"></ion-icon>
        </button>

        <button ion-button small round color="theme" class="button-round" outline> {{quantity}} </button>

        <button ion-button small round icon-only color="theme" class="button-round" (click)="increaseTapped()" [disabled]="isIncreaseDisabled"> 
          <ion-icon class="icon-custom" name="add"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>

    <ion-buttons>
      <button class="button-confirm" ion-button block color="theme" (click)="confirmTapped()">Confirm</button>
      <button class="button-cancel" clear round icon-only ion-button (click)="cancelTapped()">
        <ion-icon class="icon-cancel" name="close"></ion-icon>
      </button>
      <button class="button-cart" clear round icon-only ion-button (click)="cartTapped()">
          <ion-icon class="icon-cart" name="icon-app-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-content>
</div>

