page-product-info {
    .content-custom {
        background-color: #e8e4e0;
    }

    .title-product {
        font-size: 18px;
        //font-weight: bold;
        //color: color($colors, theme);
    }

    .button-close {
        position: absolute;
        left: 12px;
        bottom: 12px;
        width: 35px;
        height: 35px;
        background-color: color($colors, theme);
        z-index: 10;
    }

    .icon-close {
        font-size: 1.4em;
        color: white;
    }
}
